.btn {
    padding: 5px 10px;
    background-color: dodgerblue;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
}
.edit {
    padding: 5px;
    background-color: dodgerblue;
    font-size: 16px;
    border-radius: 5px;
    color: white;
}
.delete {
    padding: 5px;
    background-color: red;
    font-size: 16px;
    border-radius: 5px;
    color: white;
    margin-left: 20px;

}
a {
    text-decoration: none;
}
.new {
    margin-bottom: 20px;
}
td {
    padding: 20px;
}